body{
    background-color:#42858c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:azure;
    font-size:large;
}

p{
    text-align: center;
    text-align: justify;
    max-width: 60ch; justify
    color: ;

}

h1{
    text-align: center;
    text-decoration: underline;
    background-color:#63ccca;
}

hr{
    color:#63ccca;
}